body{
	font-family: 'Roboto Slab', serif;
	background-color: rgb(205,205,205);
	color: rgb(60,60,60);
}

h1{
	font-family: 'Lato', sans-serif;
	color: rgb(0,0,0);
	font-size: 50px
}

h2{
	font-family: 'Lato', sans-serif;
	color: rgb(30,30,30);
	font-size: 30px;
}

a{
	text-decoration: none;
}

img{
	border-radius: 50%;
	width: 175px;
}

#btn-red{
	 background-color: rgb(156,0,0);
	 color: rgb(255,255,255);
	 padding: 10px 40px;
	 font-size: 20px;
	 border-radius:5px;
}

#btn-red:hover{
	background-color: rgb(30,30,30);
}

.card{
	background-color: rgb(60,125,230,0.2);
	padding: 40px 50px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 10px;
}

#list-inline{
	list-style: none;
	padding-left: 0px;
}

#list-inline li{
	display: inline;
}

#list-inline i{
	font-size: 70px;
	color: rgb(60,60,60);
}

#list-inline i:hover{
	color: rgb(0,0,0);
}

.container{
	margin:40px auto;
	width: 1048px;
}

@media(max-width: 960px){
	.container{
		width:700px;
	}
}

@media(max-width: 720px){
	.container{
		width:500px;
	}
}

@media(max-width: 540px){
	.container{
		width:300px;
	}
}

#btn-margin{
	padding-bottom: 15px;
}